/* styles.css - Challenge #1 (Skeleton) */
body {
    font-family: arial;
    background-color: rgb(245,245,245);
    color:black;
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    
}

.site-header h1{
    text-align: center;
    font-size: 3em;
    color: #e91e63;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.site-header .tagline{
    text-align: center;
    font-style: italic;
    color: #555555;
    margin: 0 0 20px 0;
}

.about h2{
    line-height: 1.5;
}

p{
    margin: 0 0 25px 0;
    line-height: 1.5;
    font-size: 1rem;
}
/*
Option 1 for centering mascot image
    display: block;  // images are inline by default, make it a block
    margin: 0 auto;  // auto left/right margins center it horizontally
*/
#mascot-image {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}

.mascot-placeholder{
    width: 260px;
    margin: auto;
    background: #ffffff;
    border: 2px solid #333333;
    border-radius: 15px;
}
.actions{
    text-align: center;
    margin: 12px 0 28px 0;
}

.buy-tickets{
    padding: 12px 20px;
    background-color: lime;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 12px rgb(0,229,255);
    transition: background 120ms ease, transform 100ms ease;
    margin-right: 10px;
    margin-bottom: 10px;
}

.buy-tickets:hover{
    background-color: lime;
    cursor: pointer;
    transform: translateY(-1px);
}

.make-donation{
    padding: 12px 20px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 12px rgb(245,3,116);
    transition: background 120ms ease, transform 100ms ease;
    margin-right: 10px;
    margin-bottom: 10px;
}

.make-donation:hover{
    background-color: blue;
    cursor: pointer;
    transform: translateY(-1px);
}

.site-footer{
    text-align: center;
    color: grey;
    font-size: 0.9rem;
    border-top: 1px solid #e7e7e7;
    padding-top: 10px;
    margin-top: 20px;
}